<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Sorteio de processos do STF</title>
  </head>
  <body>
      <main>
        <div class="container">
          <div class="row mb-3">
            <div class="mx-auto">
              <h1>Sorteio de processos do STF</h1>
            </div>
          </div>
          <div class="row mb-3">
              <div class="list-group">
              </div>
          </div>
          <div class="row center-text">
              <div class="mx-auto">
                  <button class="btn-default btn-lg btn-primary">Sortear processo</button>
              </div>
          </div>
        </div>
      </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="javascripts/site.js"></script>
  </body>
</html>