<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="title" content="sorteio do stf">
    <meta name="description" content="simulação do sorteio do stf">

    <meta name="twitter:card" content="sorteio do stf" />
    <meta name="twitter:site" content="@fmzguilherme" />
    <meta name="twitter:creator" content="@fmzguilherme" />
    <meta property="og:url" content="https://sorteiostf.herokuapp.com/" />
    <meta property="og:title" content="sorteio do stf" />
    <meta property="og:description" content="simulação do sorteio de processos no superior tribunal federal" />
    <meta property="og:image" content="https://sorteiostf.herokuapp.com/images/logo.png" />

    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Sorteio de processos do STF</title>
  </head>
  <body>
      <main>
        <div class="container">
          <div class="row mb-3">
            <div class="mx-auto">
              <h1>Sorteio de processos do STF</h1>
            </div>
          </div>
          <div class="row mb-3">
              <div class="list-group">
              </div>
          </div>
          <div class="row center-text">
              <div class="mx-auto">
                  <button class="btn-default btn-lg btn-primary">Sortear processo</button>
              </div>
          </div>
        </div>
      </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="javascripts/site.js"></script>


    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-102160561-1 ', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->


    <!-- BICHO, ISSO AQUI É UMA BRINCADEIRA -->
    <!-- EU QUER FIZ: @FMZGUILHERME -->
  </body>
</html>